In [1]:
# Imported the modules:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Spliting the Data into Training and Testing Sets:

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame:
file_path = Path('Resources/lending_data.csv')
lending_df = pd.read_csv(file_path)

# Reviewed the DataFrame:
lending_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

### Step 2: Created the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [3]:
# Separated the data into labels and features:
# First, separate the 'y' variable, which was the labels:
y = lending_df['loan_status']

# Then, separated the 'X' variable, which was the features:
X = lending_df.drop(columns='loan_status')

In [4]:
# Reviewed the 'y' variable Series:
y[:5]

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [5]:
# Reviewed the 'X' variable DataFrame:
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Step 3: Checked the balance of the labels variable (`y`) by using the `value_counts` function.

In [6]:
# Checked the balance of the target values:
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [7]:
# Imported the 'train_test_learn' module:
from sklearn.model_selection import train_test_split

# Split the data using 'train_test_split', seshaped the 'y' variable to better fit the data into the function, and
# assigned a 'random_state' of 1:
y = y.values.reshape(-1,1)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

---

## Creating a Logistic Regression Model with the Original Data:

###  Step 1: Fitted a logistic regression model by using the training data (`X_train` and `y_train`).

In [8]:
# Imported the 'StandardScaler' and the 'LogisticRegression' modules from SKLearn:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

# Created a 'StandardScaler' instance, fitted it, and scaled the data to standardise the features, remove the mean,
# and scale to unit variance, so that the 'LogisticRegression' behaves better:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Instantiated the 'Logistic Regression' model, and assigned a 'random_state' parameter of 1 to the model:
logistic_regression_model = LogisticRegression(random_state=1)

# Fitted the model using the training data and used the 'ravel()' function to fit the original array:
lr_model = logistic_regression_model.fit(X_train_scaled, y_train.ravel())

### Step 2: Saved the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [9]:
# Made a prediction using the testing data:
testing_predictions = lr_model.predict(X_test_scaled)
training_predictions = lr_model.predict(X_train_scaled)

### Step 3: Evaluated the model’s performance by doing the following:

* Calculated the accuracy score of the model,

* Generated a confusion matrix,

* Printed the classification report.

In [10]:
# Printed the 'balanced_accuracy' score of the model:
balanced_acc_score = balanced_accuracy_score(y_test, testing_predictions)
print(f"The accuracy score of the model is: {balanced_acc_score}")

The accuracy score of the model is: 0.9889115309798473

In [11]:
# Generated a confusion matrix for the model:
test_cm = confusion_matrix(y_test, testing_predictions)
test_cm_df = pd.DataFrame(test_cm, index=['Actual 0', 'Actual 1'], columns=['Predicted 0', 'Predicted 1'])
print('Confusion matrix:')
display(test_cm_df)

Confusion matrix:

          Predicted 0  Predicted 1
Actual 0        18652          113
Actual 1           10          609

In [12]:
train_cm = confusion_matrix(y_train, training_predictions)
train_cm_df = pd.DataFrame(train_cm, index=['Actual 0', 'Actual 1'], columns=['Predicted 0', 'Predicted 1'])
print('Confusion matrix:')
display(train_cm_df)
training_report = classification_report(y_train, training_predictions)
print('Classification report:')
print(training_report)

Confusion matrix:

          Predicted 0  Predicted 1
Actual 0        55974          297
Actual 1           35         1846

Classification report:
              precision    recall  f1-score   support

           0       1.00      0.99      1.00     56271
           1       0.86      0.98      0.92      1881

    accuracy                           0.99     58152
   macro avg       0.93      0.99      0.96     58152
weighted avg       0.99      0.99      0.99     58152

In [13]:
# Printed the classification report for the model:
testing_report = classification_report(y_test, testing_predictions)
print('Classification report:')
print(testing_report)

Classification report:
              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.84      0.98      0.91       619

    accuracy                           0.99     19384
   macro avg       0.92      0.99      0.95     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answered the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** WRITE YOUR ANSWER HERE!

---

## Predicting a Logistic Regression Model with Resampled Training Data:

### Step 1: Used the `RandomOverSampler` module from the imbalanced-learn library to resample the data and make sure that the labels had an equal number of data points.

In [14]:
# Imported the 'RandomOverSampler' module from 'imbalanced-learn':
from imblearn.over_sampling import RandomOverSampler
from collections import Counter

# Instantiate the random oversampler model, and assigned a 'random_state' parameter of 1 to the model:
ros = RandomOverSampler(random_state=1)

# Fitted the original training data to the 'random_oversampler' model:
X_train, y_train = ros.fit_resample(X, y)

In [15]:
# Counted the distinct values of the resampled labels data:
print('Resampled dataset shape %s' % Counter(y_train))

Resampled dataset shape Counter({0: 75036, 1: 75036})

### Step 2: Used the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [16]:
# Created a 'StandardScaler' instance, fitted it, and scaled the data to standardise the features, remove the mean,
# and scale to unit variance, so that the 'LogisticRegression' behaves better:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Instantiated the 'Logistic Regression' model, and assigned a 'random_state' parameter of 1 to the model:
logistic_regression_model = LogisticRegression(random_state=1)

# Fitted the model using the resampled training data
lr_model = logistic_regression_model.fit(X_train_scaled, y_train.ravel())

# Made a prediction using the testing data
testing_predictions = lr_model.predict(X_test_scaled)

### Step 3: Evaluated the model’s performance by doing the following:

* Calculated the accuracy score of the model,

* Generated a confusion matrix,

* Printed the classification report.

In [17]:
# Printed the 'balanced_accuracy' score of the model:
balanced_acc_score = balanced_accuracy_score(y_test, testing_predictions)
print(f"The accuracy score of the model is: {balanced_acc_score}")

The accuracy score of the model is: 0.9934916041318802

In [18]:
# Generated a confusion matrix for the model:
test_matrix = confusion_matrix(y_test, testing_predictions)
print('Confusion matrix:')
print(test_matrix)

Confusion matrix:
[[18642   123]
 [    4   615]]

In [19]:
# Printed the classification report for the model:
training_report = classification_report(y_test, testing_predictions)
print('Classification report:')
print(training_report)

Classification report:
              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.83      0.99      0.91       619

    accuracy                           0.99     19384
   macro avg       0.92      0.99      0.95     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** YOUR ANSWER HERE!